.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.class
*.jar
*.war
*.ear

.settings/
.classpath
.project
bin/
build/
lib/
src/test/java/io/proleap/cobol/ibm/
src/test/resources/io/proleap/cobol/cics
src/test/resources/io/proleap/cobol/ibm/
src/test/resources/gov/nist/*.tree
target/
